@font-face {
    font-family: 'montserratblack';
    src: url('~@hubbard/themes/fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('~@hubbard/themes/fonts/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('~@hubbard/themes/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('~@hubbard/themes/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('~@hubbard/themes/fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('~@hubbard/themes/fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('~@hubbard/themes/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('~@hubbard/themes/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$default: 1.8rem;
$xxl-header: 9rem;
$xl-header: 4rem;
$l-header: 3rem;
$m-header: 2rem;

body {
    font-family: 'montserratregular';
    font-size: $default;
}

h1 {
    font-family: 'montserratblack';
}

h2, h3, h4, h5, h6 {
    font-family: 'montserratbold';
}
