$custom-bp: 790px;

$socialLinks: git-hub, blog, dribbble, facebook, linked-in, behance, skype, twitter, instagram;

.nav-bar {
  background-color: lighten(vars.$darkest, 15%);
  
  
  @media (min-width: $custom-bp) {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  @media (min-width: bp.$medium) {
    grid-template-columns: 80% 20%;
  }
  a { 
    color: vars.$lightest; 
    font-size: vars.$default * .9;
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-links {
  padding: vars.$padding;
  li {
    display: inline-block;
    margin-right: vars.$margin*2;
  }
}