.common {
  cursor: pointer;
  display: inline-block;
  padding: vars.$padding/2 vars.$padding vars.$padding/3;
  font-size: vars.$default;
  font-weight: bold;
  @include vars.buttonColor(#6699cc, true)
}

.button {
  @extend .common;
  border-radius: .5rem;
  
  &-link {
    @extend .common;
    background-color: transparent;
    border-bottom: none !important;
    &:hover {
      text-decoration: underline;
    }
  }
}